In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [11]:
import os
os.getcwd()b

'/kaggle/working'

In [12]:
os.listdir()

['.virtual_documents']

In [13]:
import sys

In [14]:
os.chdir('/kaggle/input')

In [17]:
os.listdir()

[]

In [3]:
df = pd.read_csv('Traffic_Volume_Counts_20240710.csv')

In [6]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42756 entries, 0 to 42755
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             42756 non-null  int64
 1   SegmentID      42756 non-null  int64
 2   Roadway Name   42756 non-null  object
 3   From           42756 non-null  object
 4   To             42756 non-null  object
 5   Direction      42756 non-null  object
 6   Date           42756 non-null  object
 7   12:00-1:00 AM  42752 non-null  float64
 8   1:00-2:00AM    42752 non-null  float64
 9   2:00-3:00AM    42752 non-null  float64
 10  3:00-4:00AM    42752 non-null  float64
 11  4:00-5:00AM    42752 non-null  float64
 12  5:00-6:00AM    42752 non-null  float64
 13  6:00-7:00AM    42752 non-null  float64
 14  7:00-8:00AM    42752 non-null  float64
 15  8:00-9:00AM    42752 non-null  float64
 16  9:00-10:00AM   42752 non-null  float64
 17  10:00-11:00AM  42753 non-null  float64
 18  11:00-12:00PM  42755 non-null  float64
 19  12:00-1:00PM   42503 non-null  float64
 20  1:00-2:00PM    42503 non-null  float64
 21  2:00-3:00PM    42503 non-null  float64
 22  3:00-4:00PM    42503 non-null  float64
 23  4:00-5:00PM    42503 non-null  float64
 24  5:00-6:00PM    42503 non-null  float64
 25  6:00-7:00PM    42503 non-null  float64
 26  7:00-8:00PM    42503 non-null  float64
 27  8:00-9:00PM    42503 non-null  float64
 28  9:00-10:00PM   42503 non-null  float64
 29  10:00-11:00PM  42503 non-null  float64
 30  11:00-12:00AM  42503 non-null  float64
dtypes: float64(24), int64(2), object(5)
memory usage: 10.1+ MB

,ID,SegmentID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
0,1,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/09/2012,20.0,10.0,11.0,...,104.0,105.0,147.0,120.0,91.0,83.0,74.0,49.0,42.0,42.0
1,2,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/10/2012,21.0,16.0,8.0,...,102.0,98.0,133.0,131.0,95.0,73.0,70.0,63.0,42.0,35.0
2,3,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/11/2012,27.0,14.0,6.0,...,115.0,115.0,130.0,143.0,106.0,89.0,68.0,64.0,56.0,43.0
3,4,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/12/2012,22.0,7.0,7.0,...,71.0,127.0,122.0,144.0,122.0,76.0,64.0,58.0,64.0,43.0
4,5,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/13/2012,31.0,17.0,7.0,...,113.0,126.0,133.0,135.0,102.0,106.0,58.0,58.0,55.0,54.0

In [4]:
df['Roadway Name'].nunique()

1276

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y', errors='coerce')

df.info()

In [ ]:
df.head()

In [9]:
type(df['Date'][0])

str

In [13]:
df.head(3)

,ID,SegmentID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
0,1,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/09/2012,20.0,10.0,11.0,...,104.0,105.0,147.0,120.0,91.0,83.0,74.0,49.0,42.0,42.0
1,2,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/10/2012,21.0,16.0,8.0,...,102.0,98.0,133.0,131.0,95.0,73.0,70.0,63.0,42.0,35.0
2,3,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/11/2012,27.0,14.0,6.0,...,115.0,115.0,130.0,143.0,106.0,89.0,68.0,64.0,56.0,43.0

In [14]:
date_to_check = '01/09/2012'
row = df.loc[df['Date'] == date_to_check]
row

,ID,SegmentID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
0,1,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/09/2012,20.0,10.0,11.0,...,104.0,105.0,147.0,120.0,91.0,83.0,74.0,49.0,42.0,42.0
6,7,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,SB,01/09/2012,27.0,12.0,12.0,...,165.0,197.0,152.0,174.0,128.0,95.0,87.0,73.0,57.0,42.0
12,13,12809,LITTLE CLOVE ROAD,NORTHERN BOULEVARD,BRISTOL AVENUE,EB,01/09/2012,21.0,11.0,2.0,...,281.0,251.0,218.0,219.0,175.0,150.0,102.0,77.0,49.0,36.0
18,19,12809,LITTLE CLOVE ROAD,NORTHERN BOULEVARD,BRISTOL AVENUE,WB,01/09/2012,18.0,7.0,7.0,...,280.0,326.0,496.0,301.0,182.0,172.0,77.0,73.0,38.0,21.0
24,25,14723,NARROWS ROAD SOUTH,HASTINGS STREET,GARSON AVENUE,SB,01/09/2012,15.0,13.0,5.0,...,162.0,137.0,145.0,105.0,108.0,85.0,85.0,59.0,39.0,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,741,112135,Amboy Rd,Beach Ave,3rd St,WB,01/09/2012,91.0,43.0,31.0,...,599.0,655.0,738.0,757.0,618.0,519.0,389.0,305.0,211.0,159.0
757,756,4234,ANNADALE ROAD,LADD AVENUE,BERRY AVENUE,NB,01/09/2012,19.0,9.0,6.0,...,132.0,161.0,131.0,164.0,130.0,141.0,77.0,55.0,49.0,27.0
762,761,4234,ANNADALE ROAD,LADD AVENUE,BERRY AVENUE,SB,01/09/2012,12.0,8.0,2.0,...,122.0,111.0,134.0,128.0,129.0,103.0,63.0,67.0,48.0,18.0
767,766,3115,ARDEN AVENUE,SINCLAIR AVENUE,SHELDON AVENUE,NB,01/09/2012,60.0,26.0,25.0,...,480.0,534.0,499.0,504.0,439.0,400.0,316.0,229.0,133.0,98.0
772,771,3115,ARDEN AVENUE,SINCLAIR AVENUE,SHELDON AVENUE,SB,01/09/2012,51.0,26.0,15.0,...,304.0,322.0,344.0,300.0,281.0,237.0,179.0,166.0,105.0,91.0

In [ ]:
import datetime
t = datetime.datetime()
t.strftime('%m/%d/%Y')